* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS HEADER START*/
.containerNavbar {
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
    z-index: 10;
    box-shadow: 5px 2px 10px rgba(0, 77, 249, 0.9);
}

.containerLogo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 50px;
}

.logo {
    height: 50px;
}

/*CSS HEADER END*/


/*CSS MAIN START*/

.containerMain {
    width: 100%;
    background-color: rgb(210, 225, 240);
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
}

/*CSS Wave*/
.waveContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.groupWave {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.singlewave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.singlewave.first {
    z-index: 10;
}

.singlewave.second {
    z-index: 9;
    bottom: -30px;
}

.singlewave.third {
    bottom: 30px;
}

/*CSS Wave end*/
/*CSS rocket*/
.rocketElement {
    width: 100px;
    position: absolute;
    right: 80px;
    bottom: 80px;
    z-index: 15;
}

/*css rocket end*/
/*CSS circle*/
.halfCircle {
    position: absolute;
    z-index: 11;
    width: 150px;
    bottom: 50%;
}

.circle {
    position: absolute;
    z-index: 11;
    bottom: 50%;
    right: 50px;
}


/*css container login*/
.containerLogin {
    border: 1px solid black;
    width: 600px;
    height: 350px;
    z-index: 50;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*css form*/

.input {
    width: 500px;
    margin-top: 40px;
}

.input label {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#password::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

#email::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.buttonGo button {
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 77, 249);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkRegister p {
    font-size: 13px;
    text-align: center;
}













/*MEDIAQUERY*/
@media screen and (max-width: 1200px) {
    .rocketElement {
        width: 70px;
        bottom: 50px;
    }

    .halfCircle {
        width: 100px;
        bottom: 40%;
    }

    .circle {
        width: 100px;
        bottom: 40%;
    }

}

@media screen and (max-width: 992px) {
    .rocketElement {
        width: 60px;
        bottom: 40px;
    }

    .halfCircle {
        width: 80px;
        bottom: 30%;
    }

    .circle {
        width: 100px;
        bottom: 30%;
    }

}

@media screen and (max-width: 768px) {
    .rocketElement {
        width: 40px;
        bottom: 30px;
    }

    .halfCircle {
        width: 80px;
        bottom: 20%;
    }

    .circle {
        width: 100px;
        bottom: 20%;
        right: 30px;
    }

}

@media screen and (max-width: 576px) {
    .rocketElement {
        width: 30px;
        bottom: 25px;
    }

    .halfCircle {
        width: 60px;
        bottom: 15%;
    }

    .circle {
        width: 60px;
        bottom: 20%;
        right: 20px;
    }

}